In [1]:
import pandas as pd
import numpy as np

In [2]:
#find my data base
file ='almacenes.csv'

In [3]:
#read my csv file which contains the data base
almacenes_df = pd.read_csv(file)

In [4]:
#display dataframe
almacenes_df.head()

   id              name               lot_stock_id
0   1   ALMACEN CENTRAL   [8, 'WCENT/Existencias']
1   2     ALAMEDA (QRO)  [18, 'WALAM/Existencias']
2   6  ALLENDE (CELAYA)  [42, 'WALLC/Existencias']
3   7     ALLENDE (QRO)  [52, 'WALQR/Existencias']
4   9  ANDADOR (CELAYA)  [64, 'WANDA/Existencias']

In [5]:
#display my columns in order to understand the dataframe
print(almacenes_df.columns)

Index(['id', 'name', 'lot_stock_id'], dtype='object')

In [6]:
# Drop false values
almacenes_df = almacenes_df[almacenes_df != 'False'].dropna()
almacenes_df.head()

   id              name               lot_stock_id
0   1   ALMACEN CENTRAL   [8, 'WCENT/Existencias']
1   2     ALAMEDA (QRO)  [18, 'WALAM/Existencias']
2   6  ALLENDE (CELAYA)  [42, 'WALLC/Existencias']
3   7     ALLENDE (QRO)  [52, 'WALQR/Existencias']
4   9  ANDADOR (CELAYA)  [64, 'WANDA/Existencias']

In [7]:
# Split the 'product_id' column of ventas_linea_df into two columns using the comma delimiter and select each column
almacenesV2_df = almacenes_df['lot_stock_id'].str.split(', ', n=1, expand=True).rename(columns={0:'lot_stock_id', 1:'codigo_almacen'})
almacenesV2_df['lot_stock_id'] = almacenesV2_df['lot_stock_id'].str[1:]
almacenesV2_df['codigo_almacen'] = almacenesV2_df['codigo_almacen'].str[:-1]
almacenesV2_df['codigo_almacen'] = almacenesV2_df['codigo_almacen'].str.replace("]","")
almacenesV2_df['codigo_almacen'] = almacenesV2_df['codigo_almacen'].str.replace("'","")
almacenesV2_df

<ipython-input-7-589d81f3edb9>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  almacenesV2_df['codigo_almacen'] = almacenesV2_df['codigo_almacen'].str.replace("]","")

   lot_stock_id        codigo_almacen
0             8     WCENT/Existencias
1            18     WALAM/Existencias
2            42     WALLC/Existencias
3            52     WALQR/Existencias
4            64     WANDA/Existencias
5            70     WANTE/Existencias
6            88     WBOUL/Existencias
7           100     WCONS/Existencias
8           107     WCOR2/Existencias
9           136     WCOR3/Existencias
10          142     WCOR4/Existencias
11          314  WMAYOREO/Existencias
12          166     WFIES/Existencias
13          178     WGALE/Existencias
14          184     WGUER/Existencias
15          208     WHID1/Existencias
16          196     WHID2/Existencias
17          154     WCRUZ/Existencias
18           58     WVICT/Existencias
19          220     WLEOC/Existencias
20          125     WMADL/Existencias
21          214     WMADQ/Existencias
22          190     WOBRE/Existencias
23          172     WPCYA/Existencias
24          148     WPQRO/Existencias
25          202     WMAYR/Existencias
26          160     WPATI/Existencias
27          118     WPORT/Existencias
28           94     WURBA/Existencias
29           82     WVRTA/Existencias
30           76     WVIAL/Existencias

In [8]:
# Concatenate almacenes_df with almacenesV2_df
almacenesV3_df = pd.concat([almacenes_df.drop(columns=['lot_stock_id']), almacenesV2_df], axis=1)
#Print almacenesV3_df
almacenesV3_df

    id                  name lot_stock_id        codigo_almacen
0    1       ALMACEN CENTRAL            8     WCENT/Existencias
1    2         ALAMEDA (QRO)           18     WALAM/Existencias
2    6      ALLENDE (CELAYA)           42     WALLC/Existencias
3    7         ALLENDE (QRO)           52     WALQR/Existencias
4    9      ANDADOR (CELAYA)           64     WANDA/Existencias
5   10           ANTEA (QRO)           70     WANTE/Existencias
6   13      BOULEVARES (QRO)           88     WBOUL/Existencias
7   15  CONSTITUYENTES (QRO)          100     WCONS/Existencias
8   16   CORREGIDORA 2 (QRO)          107     WCOR2/Existencias
9   21   CORREGIDORA 3 (QRO)          136     WCOR3/Existencias
10  22   CORREGIDORA 4 (QRO)          142     WCOR4/Existencias
11  36         MAYOREO (QRO)          314  WMAYOREO/Existencias
12  26     FIESTA (IRAPUATO)          166     WFIES/Existencias
13  28        GALERIAS (QRO)          178     WGALE/Existencias
14  29        GUERRERO (QRO)          184     WGUER/Existencias
15  33      HIDALGO (CELAYA)          208     WHID1/Existencias
16  31    HIDALGO 2 (CELAYA)          196     WHID2/Existencias
17  24         LA CRUZ (QRO)          154     WCRUZ/Existencias
18   8     LA VICTORIA (QRO)           58     WVICT/Existencias
19  35    LEON CENTRO (LEON)          220     WLEOC/Existencias
20  19         MADERO (LEON)          125     WMADL/Existencias
21  34          MADERO (QRO)          214     WMADQ/Existencias
22  30        OBREGON (LEON)          190     WOBRE/Existencias
23  27       PARQUE (CELAYA)          172     WPCYA/Existencias
24  23          PARQUE (QRO)          148     WPQRO/Existencias
25  32    PLAZA MAYOR (LEON)          202     WMAYR/Existencias
26  25     PLAZA PATIO (QRO)          160     WPATI/Existencias
27  18          PORTAL (QRO)          118     WPORT/Existencias
28  14           URBAN (QRO)           94     WURBA/Existencias
29  12        VALLARTA (VTA)           82     WVRTA/Existencias
30  11   VIA ALTA SUR (LEON)           76     WVIAL/Existencias

In [9]:
almacenesSUC_df = pd.DataFrame({"create_uid": ["SUC. ALAMEDA (QRO)" ,"SUC. ALLENDE (CELAYA)" ,"SUC. ALLENDE (QRO)" ,"SUC. ALLENDE (QRO)" ,"SUC. ANDADOR (CELAYA)" ,"SUC. ANTEA (QRO)" ,"SUC. BOULEVARES (QRO)" ,"SUC. CONSTITUYENTES (QRO)" ,"SUC. CORREGIDORA 2 (QRO)" ,"SUC. CORREGIDORA 2 (QRO)" ,"SUC. CORREGIDORA 3 (QRO)" ,"SUC. CORREGIDORA 4 (QRO)" ,"SUC. CORREGIDORA 4 (QRO)" ,"SUC. FIESTA (IRAPUATO)" ,"SUC. GALERIAS (QRO)" ,"SUC. GUERRERO (QRO)" ,"SUC. HIDALGO (CELAYA)" ,"SUC. HIDALGO 2 (CELAYA)" ,"SUC. LA CRUZ (QRO)" ,"SUC. LA VICTORIA (QRO)" ,"SUC. LEON CENTRO (LEON)" ,"SUC. LEON CENTRO (LEON)" ,"SUC. MADERO (LEON)" ,"SUC. MADERO (QRO)" ,"SUC. MAYOREO (QRO)" ,"SUC. OBREGON (LEON)" ,"SUC. PARQUE (CELAYA)" ,"SUC. PARQUE (QRO)" ,"SUC. PLAZA MAYOR (LEON)" ,"SUC. PLAZA PATIO (QRO)" ,"SUC. PORTAL (QRO)"]})

In [10]:
almacenesSUC_df

                   create_uid
0          SUC. ALAMEDA (QRO)
1       SUC. ALLENDE (CELAYA)
2          SUC. ALLENDE (QRO)
3          SUC. ALLENDE (QRO)
4       SUC. ANDADOR (CELAYA)
5            SUC. ANTEA (QRO)
6       SUC. BOULEVARES (QRO)
7   SUC. CONSTITUYENTES (QRO)
8    SUC. CORREGIDORA 2 (QRO)
9    SUC. CORREGIDORA 2 (QRO)
10   SUC. CORREGIDORA 3 (QRO)
11   SUC. CORREGIDORA 4 (QRO)
12   SUC. CORREGIDORA 4 (QRO)
13     SUC. FIESTA (IRAPUATO)
14        SUC. GALERIAS (QRO)
15        SUC. GUERRERO (QRO)
16      SUC. HIDALGO (CELAYA)
17    SUC. HIDALGO 2 (CELAYA)
18         SUC. LA CRUZ (QRO)
19     SUC. LA VICTORIA (QRO)
20    SUC. LEON CENTRO (LEON)
21    SUC. LEON CENTRO (LEON)
22         SUC. MADERO (LEON)
23          SUC. MADERO (QRO)
24         SUC. MAYOREO (QRO)
25        SUC. OBREGON (LEON)
26       SUC. PARQUE (CELAYA)
27          SUC. PARQUE (QRO)
28    SUC. PLAZA MAYOR (LEON)
29     SUC. PLAZA PATIO (QRO)
30          SUC. PORTAL (QRO)

In [11]:
AlmacenesV4_df = pd.concat([almacenesV3_df,almacenesSUC_df], axis = 1)
AlmacenesV4_df

,id,name,lot_stock_id,codigo_almacen,create_uid
0,1,ALMACEN CENTRAL,8,WCENT/Existencias,SUC. ALAMEDA (QRO)
1,2,ALAMEDA (QRO),18,WALAM/Existencias,SUC. ALLENDE (CELAYA)
2,6,ALLENDE (CELAYA),42,WALLC/Existencias,SUC. ALLENDE (QRO)
3,7,ALLENDE (QRO),52,WALQR/Existencias,SUC. ALLENDE (QRO)
4,9,ANDADOR (CELAYA),64,WANDA/Existencias,SUC. ANDADOR (CELAYA)
5,10,ANTEA (QRO),70,WANTE/Existencias,SUC. ANTEA (QRO)
6,13,BOULEVARES (QRO),88,WBOUL/Existencias,SUC. BOULEVARES (QRO)
7,15,CONSTITUYENTES (QRO),100,WCONS/Existencias,SUC. CONSTITUYENTES (QRO)
8,16,CORREGIDORA 2 (QRO),107,WCOR2/Existencias,SUC. CORREGIDORA 2 (QRO)
9,21,CORREGIDORA 3 (QRO),136,WCOR3/Existencias,SUC. CORREGIDORA 2 (QRO)
10,22,CORREGIDORA 4 (QRO),142,WCOR4/Existencias,SUC. CORREGIDORA 3 (QRO)
11,36,MAYOREO (QRO),314,WMAYOREO/Existencias,SUC. CORREGIDORA 4 (QRO)
12,26,FIESTA (IRAPUATO),166,WFIES/Existencias,SUC. CORREGIDORA 4 (QRO)
13,28,GALERIAS (QRO),178,WGALE/Existencias,SUC. FIESTA (IRAPUATO)
14,29,GUERRERO (QRO),184,WGUER/Existencias,SUC. GALERIAS (QRO)
15,33,HIDALGO (CELAYA),208,WHID1/Existencias,SUC. GUERRERO (QRO)
16,31,HIDALGO 2 (CELAYA),196,WHID2/Existencias,SUC. HIDALGO (CELAYA)
17,24,LA CRUZ (QRO),154,WCRUZ/Existencias,SUC. HIDALGO 2 (CELAYA)
18,8,LA VICTORIA (QRO),58,WVICT/Existencias,SUC. LA CRUZ (QRO)
19,35,LEON CENTRO (LEON),220,WLEOC/Existencias,SUC. LA VICTORIA (QRO)
20,19,MADERO (LEON),125,WMADL/Existencias,SUC. LEON CENTRO (LEON)
21,34,MADERO (QRO),214,WMADQ/Existencias,SUC. LEON CENTRO (LEON)
22,30,OBREGON (LEON),190,WOBRE/Existencias,SUC. MADERO (LEON)
23,27,PARQUE (CELAYA),172,WPCYA/Existencias,SUC. MADERO (QRO)
24,23,PARQUE (QRO),148,WPQRO/Existencias,SUC. MAYOREO (QRO)
25,32,PLAZA MAYOR (LEON),202,WMAYR/Existencias,SUC. OBREGON (LEON)
26,25,PLAZA PATIO (QRO),160,WPATI/Existencias,SUC. PARQUE (CELAYA)
27,18,PORTAL (QRO),118,WPORT/Existencias,SUC. PARQUE (QRO)
28,14,URBAN (QRO),94,WURBA/Existencias,SUC. PLAZA MAYOR (LEON)
29,12,VALLARTA (VTA),82,WVRTA/Existencias,SUC. PLAZA PATIO (QRO)
30,11,VIA ALTA SUR (LEON),76,WVIAL/Existencias,SUC. PORTAL (QRO)

In [12]:
AlmacenesVF = AlmacenesV4_df.drop(['id', 'lot_stock_id','codigo_almacen'], axis=1)
AlmacenesVF

                    name                 create_uid
0        ALMACEN CENTRAL         SUC. ALAMEDA (QRO)
1          ALAMEDA (QRO)      SUC. ALLENDE (CELAYA)
2       ALLENDE (CELAYA)         SUC. ALLENDE (QRO)
3          ALLENDE (QRO)         SUC. ALLENDE (QRO)
4       ANDADOR (CELAYA)      SUC. ANDADOR (CELAYA)
5            ANTEA (QRO)           SUC. ANTEA (QRO)
6       BOULEVARES (QRO)      SUC. BOULEVARES (QRO)
7   CONSTITUYENTES (QRO)  SUC. CONSTITUYENTES (QRO)
8    CORREGIDORA 2 (QRO)   SUC. CORREGIDORA 2 (QRO)
9    CORREGIDORA 3 (QRO)   SUC. CORREGIDORA 2 (QRO)
10   CORREGIDORA 4 (QRO)   SUC. CORREGIDORA 3 (QRO)
11         MAYOREO (QRO)   SUC. CORREGIDORA 4 (QRO)
12     FIESTA (IRAPUATO)   SUC. CORREGIDORA 4 (QRO)
13        GALERIAS (QRO)     SUC. FIESTA (IRAPUATO)
14        GUERRERO (QRO)        SUC. GALERIAS (QRO)
15      HIDALGO (CELAYA)        SUC. GUERRERO (QRO)
16    HIDALGO 2 (CELAYA)      SUC. HIDALGO (CELAYA)
17         LA CRUZ (QRO)    SUC. HIDALGO 2 (CELAYA)
18     LA VICTORIA (QRO)         SUC. LA CRUZ (QRO)
19    LEON CENTRO (LEON)     SUC. LA VICTORIA (QRO)
20         MADERO (LEON)    SUC. LEON CENTRO (LEON)
21          MADERO (QRO)    SUC. LEON CENTRO (LEON)
22        OBREGON (LEON)         SUC. MADERO (LEON)
23       PARQUE (CELAYA)          SUC. MADERO (QRO)
24          PARQUE (QRO)         SUC. MAYOREO (QRO)
25    PLAZA MAYOR (LEON)        SUC. OBREGON (LEON)
26     PLAZA PATIO (QRO)       SUC. PARQUE (CELAYA)
27          PORTAL (QRO)          SUC. PARQUE (QRO)
28           URBAN (QRO)    SUC. PLAZA MAYOR (LEON)
29        VALLARTA (VTA)     SUC. PLAZA PATIO (QRO)
30   VIA ALTA SUR (LEON)          SUC. PORTAL (QRO)

In [13]:
# Export the final table to a CSV file
AlmacenesVF.to_csv('almacenes_dimovil.csv', index=False)