In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
file ='almacenes (2).csv'

In [9]:
df = pd.read_csv (file, encoding="ISO-8859-1")

In [10]:
df.head()

   id              name               lot_stock_id
0   1   ALMACEN CENTRAL   [8, 'WCENT/Existencias']
1   2     ALAMEDA (QRO)  [18, 'WALAM/Existencias']
2   6  ALLENDE (CELAYA)  [42, 'WALLC/Existencias']
3   7     ALLENDE (QRO)  [52, 'WALQR/Existencias']
4   9  ANDADOR (CELAYA)  [64, 'WANDA/Existencias']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            31 non-null     int64
 1   name          31 non-null     object
 2   lot_stock_id  31 non-null     object
dtypes: int64(1), object(2)
memory usage: 564.0+ bytes

In [12]:
df = df.dropna(how='any')

In [13]:
df.dtypes

id               int64
name            object
lot_stock_id    object
dtype: object

In [14]:
df['name'].value_counts()

ALMACEN CENTRAL         1
HIDALGO 2 (CELAYA)      1
VALLARTA (VTA)          1
URBAN (QRO)             1
PORTAL (QRO)            1
PLAZA PATIO (QRO)       1
PLAZA MAYOR (LEON)      1
PARQUE (QRO)            1
PARQUE (CELAYA)         1
OBREGON (LEON)          1
MADERO (QRO)            1
MADERO (LEON)           1
LEON CENTRO (LEON)      1
LA VICTORIA (QRO)       1
LA CRUZ (QRO)           1
HIDALGO (CELAYA)        1
ALAMEDA (QRO)           1
GUERRERO (QRO)          1
GALERIAS (QRO)          1
FIESTA (IRAPUATO)       1
MAYOREO (QRO)           1
CORREGIDORA 4 (QRO)     1
CORREGIDORA 3 (QRO)     1
CORREGIDORA 2 (QRO)     1
CONSTITUYENTES (QRO)    1
BOULEVARES (QRO)        1
ANTEA (QRO)             1
ANDADOR (CELAYA)        1
ALLENDE (QRO)           1
ALLENDE (CELAYA)        1
VIA ALTA SUR (LEON)     1
Name: name, dtype: int64

In [16]:
df['lot_stock_id'].value_counts()

[8, 'WCENT/Existencias']         1
[196, 'WHID2/Existencias']       1
[82, 'WVRTA/Existencias']        1
[94, 'WURBA/Existencias']        1
[118, 'WPORT/Existencias']       1
[160, 'WPATI/Existencias']       1
[202, 'WMAYR/Existencias']       1
[148, 'WPQRO/Existencias']       1
[172, 'WPCYA/Existencias']       1
[190, 'WOBRE/Existencias']       1
[214, 'WMADQ/Existencias']       1
[125, 'WMADL/Existencias']       1
[220, 'WLEOC/Existencias']       1
[58, 'WVICT/Existencias']        1
[154, 'WCRUZ/Existencias']       1
[208, 'WHID1/Existencias']       1
[18, 'WALAM/Existencias']        1
[184, 'WGUER/Existencias']       1
[178, 'WGALE/Existencias']       1
[166, 'WFIES/Existencias']       1
[314, 'WMAYOREO/Existencias']    1
[142, 'WCOR4/Existencias']       1
[136, 'WCOR3/Existencias']       1
[107, 'WCOR2/Existencias']       1
[100, 'WCONS/Existencias']       1
[88, 'WBOUL/Existencias']        1
[70, 'WANTE/Existencias']        1
[64, 'WANDA/Existencias']        1
[52, 'WALQR/Existencias']        1
[42, 'WALLC/Existencias']        1
[76, 'WVIAL/Existencias']        1
Name: lot_stock_id, dtype: int64

In [26]:
linea_almacen = df['lot_stock_id']

In [28]:
id_del_almacen = linea_almacen[0]

In [29]:
print(id_del_almacen)

[8, 'WCENT/Existencias']

In [32]:
lista_almacen = id_del_almacen.split(",")

In [33]:
print(lista_almacen)

['[8', " 'WCENT/Existencias']"]

In [35]:
import ast

In [38]:
prueba_lista = ast.literal_eval(id_del_almacen)

In [44]:

print (prueba_lista[0])

8

In [45]:
print(df.columns)

Index(['id', 'name', 'lot_stock_id'], dtype='object')

In [47]:
idslimpios_df = df['lot_stock_id'].str.split(', ', n=1, expand=True).rename(columns={0:'lot_stock_id', 1:'Nombre Almacen'})
idslimpios_df['lot_stock_id'] = idslimpios_df['lot_stock_id'].str[1:]
idslimpios_df['Nombre Almacen'] = idslimpios_df['Nombre Almacen'].str[:-1]
idslimpios_df

   lot_stock_id          Nombre Almacen
0             8     'WCENT/Existencias'
1            18     'WALAM/Existencias'
2            42     'WALLC/Existencias'
3            52     'WALQR/Existencias'
4            64     'WANDA/Existencias'
5            70     'WANTE/Existencias'
6            88     'WBOUL/Existencias'
7           100     'WCONS/Existencias'
8           107     'WCOR2/Existencias'
9           136     'WCOR3/Existencias'
10          142     'WCOR4/Existencias'
11          314  'WMAYOREO/Existencias'
12          166     'WFIES/Existencias'
13          178     'WGALE/Existencias'
14          184     'WGUER/Existencias'
15          208     'WHID1/Existencias'
16          196     'WHID2/Existencias'
17          154     'WCRUZ/Existencias'
18           58     'WVICT/Existencias'
19          220     'WLEOC/Existencias'
20          125     'WMADL/Existencias'
21          214     'WMADQ/Existencias'
22          190     'WOBRE/Existencias'
23          172     'WPCYA/Existencias'
24          148     'WPQRO/Existencias'
25          202     'WMAYR/Existencias'
26          160     'WPATI/Existencias'
27          118     'WPORT/Existencias'
28           94     'WURBA/Existencias'
29           82     'WVRTA/Existencias'
30           76     'WVIAL/Existencias'

In [48]:
idslimpios_df.to_csv('almacenes_dimovil.csv', index=False)